<%= form_with(model: micropst, local: true) do |form| %>
  <% if micropst.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropst.errors.count, "error") %> prohibited this micropst from being saved:</h2>

      <ul>
      <% micropst.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :micropst_content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :micropst_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
