<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @micropst.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropst.user_id %>
</p>

<%= link_to 'Edit', edit_micropst_path(@micropst) %> |
<%= link_to 'Back', micropsts_path %>
